<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--加载映射文件-->
    <mappers>

        <!-- 扫描映射 包下所有的 interface -->
        <package name="com.shuaige.dao"/>

        <!-- 也可以用映射文件 -->
        <!-- <mapper resource="classpath: mapper/accountsMapper.xml" />-->
    </mappers>
</configuration>